################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.bkp
/Backend/AttendanceTracker/Database.db
/Backend/AttendanceTracker/Database.db-shm
/Backend/AttendanceTracker/Database.db-wal
/Backend/AttendanceTracker/Properties/launchSettings.json
