@model AttendanceTracker.Models.API.APIGroup

@{
	ViewData["Title"] = "View";
	var dbCtx = ViewBag.DbCtx as DbCtx;
}

@section Scripts
{
	<script src="~/js/crudutil.js"> </script>
}

<h1>Groups</h1>

@await Component.InvokeAsync("EditModalSimple", new{
	Model = Model,
	ObjectType = "Group"
})

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<form id="inputForm_edit">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">ATTENTION!</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Do you really want to delete this group?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger">Delete</button>
				</div>
			</form>
		</div>
	</div>
</div>



<p>
	<a onclick="SetCreatingCrudObject(); ResetFormData('inputForm_edit');" class="btn btn-primary" data-toggle="modal" data-target="#editModal">Create New</a>
</p>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in dbCtx.Groups.OrderBy(g => g.Name).ToArray())
		{
		<tr>
				@{dbCtx.Entry(item).Collection(item => item.Students).Load();}
				
				<td>@item.Name</td>
				<td>@item.Students.Count students</td>
				<td>
				<a href="/TimeTable/@item.Id?date=@DateTime.UtcNow.ToString("yyyy-MM")" class="btn btn-success" role="button">Edit report</a>
				</td>
				<td>
					@await Component.InvokeAsync("ListItemEditDetailsDelete", new { 
					Model = item,
					ObjectType = "Group",
					DetailsUrl = "/GroupStudent/"+item.Id,
					DetailsText = "Edit students"
				})
				</td>
				<td>
					<button type="button" data-toggle="modal" data-target="#deleteModal"  class="btn btn-danger">
						Delete
					</button>
				</td>
				<td>
					@(dbCtx.RecycleBinGroups.Find(item.Id) == null ? "not archived" : "archived") 
				</td>
		</tr>
		}
	</tbody>
</table>
