@model AttendanceTracker.Models.API.APIGroup

@{
	ViewData["Title"] = "View";
	var dbCtx = ViewBag.DbCtx as DbCtx;
}

@section Scripts
{
	<script src="~/js/crudutil.js"> </script>
}

<h1>Groups</h1>

@await Component.InvokeAsync("EditModalSimple", new{
	Model = Model,
	ObjectType = "Group"
})

<!-- Modal -->



<p>
	<a onclick="SetCreatingCrudObject(); ResetFormData('inputForm_edit');" class="btn btn-primary" data-toggle="modal" data-target="#editModal">Create New</a>
</p>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in dbCtx.Groups.OrderBy(g => g.Name).ToArray())
		{
		<tr>
				@{dbCtx.Entry(item).Collection(item => item.Students).Load();}
				
				<td>@item.Name</td>
				<td>@item.Students.Count students</td>
				<td>
				<a href="/TimeTable/@item.Id?date=@DateTime.UtcNow.ToString("yyyy-MM")" class="btn btn-success" role="button">Edit report</a>
				</td>
				<td>
					@await Component.InvokeAsync("ListItemEditDetailsDelete", new { 
					Model = item,
					ObjectType = "Group",
					DetailsUrl = "/GroupStudent/"+item.Id,
					DetailsText = "Edit students"
				})
				</td>
		</tr>
		}
	</tbody>
</table>
