@model AttendanceTracker.Models.TimeTableViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
	th:first-child, td:first-child {
		position: sticky;
		left: 0px;
		background-color: white
	}
</style>
<div style="overflow:auto;min-height:100%;min-width:100%;">
	<table class="table table-bordered table-fixed table-striped table-responsive">

		<tr>
			<th>
				Student name/Date
			</th>

			@foreach (var day in Model.GetDaysEnumerator())
			{
				<th class=".col-sm-5">
					@foreach (var c in day.ToString("dd.MM").ToCharArray())
					{
						@c
						<br />
					}
				</th>
			}
		</tr>
			@{
				int i = 0;
			}
			@foreach (var student in Model.group.Students.OrderBy(s=>s.Name))
			{
				i++;
		
				<tr>
					<td>
						@(i + ". " + student.Name)
					</td>
					@foreach (var day in Model.GetDaysEnumerator())
					{
						<td>
						<input class="entry-cell" type="text" maxlength="3" size="3" student="@student.Id" date="@day.ToString("yyyy-MM-dd")" />
						</td>
					}
				</tr>
			}
	</table>
</div>

<script src="/js/page.timetable.js"></script>